body {
  height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.text-align-center {
  text-align: center;
}

body {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

.break-container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    background-color: inherit;
  }
}